<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
           Id="1"         
           photoCover="https://th.bing.com/th/id/OIG.YreHPt7ApDIs.Qg2ohEY?pid=ImgGn"
           cardTitle="DISNEY PIXAR LANÇA FILME DA GATA KYRA"
           cardDescription="Adaptação de gatos não é uma tarefa fácil, mas com paciência e amor, e muita dicas que separamos para vocês, em um artigo especial."
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="2"
            cardTitle="A Felina que encantou o mundo"
            photoCover="https://th.bing.com/th/id/OIG._dMjun2_JbdaNBPUVogY?pid=ImgGn"
        >
        </app-small-card>
        <app-small-card
            Id="3"
            cardTitle="Kyra Golden Junior, revela seus segredos"
            photoCover="https://th.bing.com/th/id/OIG.J28lxeN1lw7287oiWUuD?pid=ImgGn"
        >
        </app-small-card>
        <app-small-card
            Id="4"
            cardTitle="Curiosidades sobre gatos tricolor"
            photoCover="https://th.bing.com/th/id/OIG.6doq1CC.lRzDbMTCFTBR?pid=ImgGn"
        >
        </app-small-card>
    </div>
</div>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
           Id="5"         
           photoCover="https://th.bing.com/th/id/OIG.pbYfe8ysT.aXQsWturwP?pid=ImgGn&w=1024&h=1024&rs=1"
           cardTitle="LANÇAMENTO DO NOVO FILME DA DISNEY "
           cardDescription="Adaptação de gatos não é uma tarefa fácil, mas com paciência e amor, e muita dicas que separamos para vocês, em um artigo especial."
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="6"
            cardTitle="Adaptação de gatos"
            photoCover="https://th.bing.com/th/id/OIG.Ed9QNlEkRJr.mNK0MFYf?pid=ImgGn&w=1024&h=1024&rs=1"
        >
        </app-small-card>
        <app-small-card
            Id="7"
            cardTitle="Deixe seu gato mais feliz"
            photoCover="https://th.bing.com/th/id/OIG.DdkQWBtdhJ2sserQjQV1?pid=ImgGn&w=1024&h=1024&rs=1"
        >
        </app-small-card>
        <app-small-card
            Id="8"
            cardTitle="Maya com seu jeito manhoso, encanta multidões"
            photoCover="https://th.bing.com/th/id/OIG.gm5XKfGTUAQR_2JrfMWM?pid=ImgGn"
        >
        </app-small-card>
    </div>
</div>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
           Id="5"         
           photoCover="https://th.bing.com/th/id/OIG.4uy5eUuLN8aU7qGZxJeN?pid=ImgGn"
           cardTitle="AI TE TRANSFORMA EM PERSONAGENS DA DISNEY PIXAR"
           cardDescription="Adaptação de gatos não é uma tarefa fácil, mas com paciência e amor, e muita dicas que separamos para vocês, em um artigo especial."
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="6"
            cardTitle="Nova trend viraliza nas redes"
            photoCover="https://th.bing.com/th/id/OIG.WRokg.tArW0lg2XU2AJj?pid=ImgGn"
        >
        </app-small-card>
        <app-small-card
            Id="7"
            cardTitle="Conteúdo criado com AI da Bing"
            photoCover="https://th.bing.com/th/id/OIG.qkz6.N3xpFKRMQVZ7Q9Q?pid=ImgGn&w=1024&h=1024&rs=1"
        >
        </app-small-card>
        <app-small-card
            Id="8"
            cardTitle="Só da isso nas redes socias"
            photoCover="https://th.bing.com/th/id/OIG.VjrsErNvQrcFjDr8XahY?pid=ImgGn&w=1024&h=1024&rs=1"
        >
        </app-small-card>
    </div>
</div>